<div class="form-space"></div>
<div class="row">
  <div class="col-md-3 offset-md-2">
    <div class="container card card-block bg-faded">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <h3 class="bold text-center form-header">Sign up for an Account</h3>

        <div class = "form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
        <div class = "form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, autofucs: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a> </p>

        <div class="actions form-group">
          <%= f.submit "Sign up", class: "btn btn-success btn-md btn-block" %>
        </div>
      <% end %>
    </div>

    <div class="devise-links">
      Already a user? <%= render "devise/shared/links" %>
    </div>

  </div>

  <div class="col-md-2">
    <div class='left-col'></div>
    <div class='right-col'></div>
  </div>


  <div class="col-md-3">
    <div class="text-center social-login">
      <h3 class="bold"> Sign up using Social Media </h3>
    	<div class="social-login-buttons">
      	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
      		<i class="fa fa-facebook"></i> <u class="form-social-txt"> Sign up using Facebook </u>
      	</a> <br>
      	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
      		<i class="fa fa-twitter"></i> <u class="form-social-txt"> Sign up using Twitter </u>
      	</a> <br>
      	<a class="btn btn-link-1 btn-link-1-google" href="#">
      		<i class="fa fa-google"></i> <u class="form-social-txt"> Sign up using Google </u>
      	</a>
    	</div>
    </div>
  </div>
</div>
