<div class = "container-fluid city_form">
	<div class = "row">
		<div class = "col-md-3 offset-md-4">
			<div class = "text-center form-group">
			<%= form_for (@citysearch, html: {id: 'citysearch_form'}) do |f| %>
				<div class = "form-group">
					<%= f.label :cityfind %>
					<%= f.text_field :cityfind, class: 'form-control' %>
				</div>
					<%= f.submit 'Submit', id: 'form-city-search' %>
			<%  end %>
		</div>
		</div>
	</div>
</div>
<div class = "container">
    <% @newrally.each do |newrally| %>
      <% if @citysearch.cityfind = newrally.city %>
      <div class = citypost>
        <h3 class = "text-center"><%= newrally.title %> 
        <%= newrally.created_at.strftime('%b %d, %Y') %>
        <%= newrally.city %></h3>
        <%= raw(newrally.description).truncate(358) %>
      </div>
      <% else %>
      hhhh
      <% end %>
    <% end %>
</div>