<div class="form-space"></div>
<div class="row">
  <div class="col-md-3 offset-md-2">
    <div class="container card card-block bg-faded">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <h3 class="bold text-center form-header">Log in to Your Account</h3>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions form-group">
          <%= f.submit "Log in", class: "btn btn-success btn btn-block" %>
        </div>
      <% end %>

    </div>

    <div class="devise-links">
      Haven't signed up yet? <%= render "devise/shared/links" %>
    </div>

  </div>

  <div class="col-md-2">
    <div class='left-col'></div>
    <div class='right-col'></div>
  </div>


  <div class="col-md-3">
    <div class="text-center social-login">
      <h3 class="bold"> Log in using Social Media </h3>
    	<div class="social-login-buttons">
      	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
      		<i class="fa fa-facebook"></i> <u class="form-social-txt"> Continue with Facebook </u>
      	</a> <br>
      	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
      		<i class="fa fa-twitter"></i> <u class="form-social-txt"> Continue with Twitter </u>
      	</a> <br>
      	<a class="btn btn-link-1 btn-link-1-google" href="#">
      		<i class="fa fa-google"></i> <u class="form-social-txt"> Continue with Google </u>
      	</a>
    	</div>
    </div>
  </div>
</div>
