<!DOCTYPE html>
<html>
  <head>
    <title>Rally</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="container navbar-right pull-right">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= link_to root_path, class: "navbar-brand bold" do %>
          <i class="fa fa-group"></i> RightToAssemble
        <% end %>

        <div class="container collapse navbar-collapse pull-right" id="navbarNav">
          <ul class="nav navbar-nav navbar-right ml-auto">
             <li class = "nav-item active">
               <%= link_to new_contact_path do %>
                 Contact <i class="fa fa-phone-square"></i>
               <% end %>
               <%= link_to about_path do %>
                About <i class="fa fa-user-circle-o"></i>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "City Rallies", hot_rally_city_path %>
                <%= link_to destroy_user_session_path, method: :delete do%> 
                  Sign Out <i class="fa fa-sign-out"></i>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                  Sign In <i class="fa fa-sign-in"></i>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
